<ion-list>
  <ion-item button (click)="setBrand('Acer')">Acer</ion-item>
  <ion-item button (click)="setBrand('ASUS')">ASUS</ion-item>
  <ion-item button (click)="setBrand('Apple')">Apple</ion-item>
  <ion-item button (click)="setBrand('HP')">HP</ion-item>
  <ion-item button (click)="setBrand('Huawei')">Huawei</ion-item>
  <ion-item button (click)="setBrand('Lenovo')">Lenovo</ion-item>
  <ion-item button (click)="setBrand('JBL')">JBL</ion-item>
  <ion-item button (click)="setBrand('Motorola')">Motorola</ion-item>
  <ion-item button (click)="setBrand('Nintendo')">Nintendo</ion-item>
  <ion-item button (click)="setBrand('Samsung')">Samsung</ion-item>
  <ion-item button (click)="setBrand('Toshiba')">Toshiba</ion-item>
  <ion-item button (click)="setBrand('Xiaomi')">Xiaomi</ion-item>
</ion-list>
