<ion-header>
  <ion-toolbar color="primary">
    <ion-title>myOrders</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Inicio"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let ord of order">
    <ion-card-header>
      <ion-card-title>Factura total: {{ord.total}}$</ion-card-title>
      <ion-card-subtitle>Dirección de entrega: {{ord.shipment_address}}</ion-card-subtitle>

    </ion-card-header>
    <ion-card-content>
      <p>Metodo de pago: {{ord.payment_method}}</p>
      <div *ngFor="let item of ord.items">
        <ion-label>item: {{item.id}} </ion-label>
        <ion-label> {{item.name}} </ion-label>
        <ion-label>Cantidad: {{item.quantity}}</ion-label>
      </div>
    </ion-card-content>
  </ion-card>

</ion-content>