<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Review your Order</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-label padding>Enviar a</ion-label>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="clipboard" padding></ion-icon>
        <h5><b>{{nombrePersona}}</b></h5>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-label padding>Dirección de envío</ion-label>
  <ion-card>
    <ion-card-content>
      <ion-item>
        <ion-icon name="pin" padding></ion-icon>
        <h5><b>{{direccionRecibida}}</b></h5>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-label padding>Metodo de Envío</ion-label>
  <ion-card>
    <ion-card-content>
      <ion-list>
        <!-- <ion-radio-group [(ngModel)]="valor">
          <ion-item>
            <ion-label>ContraEntega</ion-label>
            <ion-radio slot="start" value="contraentrega" checked>
            </ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Normal</ion-label>
            <ion-radio slot="start" value="normal"></ion-radio>
          </ion-item>
          <ion-item>
            <ion-label>Rapida</ion-label>
            <ion-radio slot="start" value="Rapida"></ion-radio>
          </ion-item>
        </ion-radio-group> -->
        <ion-radio-group [(ngModel)]="metodoEnvioFavorito">
          <ion-item *ngFor="let metodo of metodosEnvio">
            <ion-label>{{metodo}}</ion-label>
            <ion-radio [value]="metodo">
            </ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-row>
    <ion-col class="centrar">
      <ion-button class="centrar" (click)="comprarenGo()" size="large">
        <ion-icon ios="ios-cash" md="md-cash" padding></ion-icon>Pagar
      </ion-button>
    </ion-col>
  </ion-row>

</ion-content>