<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Checkout</ion-title>
    <ion-buttons slot="start">
      <ion-back-button text="Back"> </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="checkout" style="background-color: #f4f4f4;">
  <form #form="ngForm" (ngSubmit)="register(form)">
    <ion-grid>
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Billing Address</h3>
          </div>
          <div padding>
            <ion-row size-md="12" size-lg="12" size-xs="12">
              <ion-col size-md="6" size-lg="5" size-xs="6">
                <ion-item>
                  <ion-input name="firtName" type="text" placeholder="First Name" ngModel required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-md="6" size-lg="5" size-xs="6">
                <ion-item>
                  <ion-input name="lastName" type="text" placeholder="Last Name" ngModel required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-row size-md="12" size-lg="12" size-xs="12">
              <ion-col size-md="6" size-lg="5" size-xs="6">
                <ion-item>
                  <ion-input name="email" type="email" placeholder="Email" ngModel required></ion-input>
                </ion-item>
              </ion-col>
              <ion-col size-md="6" size-lg="5" size-xs="6">
                <ion-item>
                  <ion-input name="phone" type="number" placeholder="Telephone" ngModel required></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
            <ion-item>
              <ion-input name="address" type="text" placeholder="Address" ngModel required></ion-input>
            </ion-item>
            <ion-col size-md="12" size-lg="12" size-xs="12">
              <ion-item>
                <ion-list>
                  <ion-item>
                    <!-- <ion-select [(ngModel)]="ciudadCapturada" name="selectCode" multiple="false" (ionChange)="alex()"
                      placeholder="Departamento" [ngModelOptions]="{standalone: true}">
                      <ion-select-option *ngFor="let item of ciudades" value="{{item}}">{{item.departamento}}
                      </ion-select-option>
                    </ion-select> -->
                    <label for="customSelect" padding>Countries</label>
                    <select (change)="obtenerCiudad()" [(ngModel)]="departamentoCapturado"
                      [ngModelOptions]="{standalone: true}" placeholder="Departamento">
                      <option selected value="false" selected>Selecciona una ciudad ...</option>

                      <option *ngFor="let item of ciudades" value="{{item | json}}">{{item.departamento}}</option>
                    </select>

                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-col>
            <ion-col size-md="12" size-lg="12" size-xs="12">
              <ion-item>
                <ion-list>
                  <ion-item>
                    <label for="customSelect" padding>City</label>
                    <select (change)="obtenerCiudadDepartamento()" [(ngModel)]="ciudadesDepartamentoCapturado"
                      [ngModelOptions]="{standalone: true}">

                      <option *ngFor="let item of ciudadesDepartamento.ciudades" value="{{item | json}}">
                        {{item}}</option>
                    </select>
                  </ion-item>
                </ion-list>
              </ion-item>
            </ion-col>
            <ion-item>
              <ion-input name="city" type="text" placeholder="City" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="postalCode" type="number" placeholder="Zip/Postal Code" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block"
              [routerLink]="['/review-order']">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>